{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한끼슥싹</title>

    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'image/Logo.svg' %}"/>
    </div>

    <div class="content">
        <form class="login-box" action = "{% url 'register' %}" method = 'POST'>
            {% csrf_token %}
            <h2>회원 정보를 입력해주세요</h2>
            <input type="text" name="name" id="user-name" placeholder="이름을 입력해주세요">
            <input type="password" name="password" id="user-password" placeholder="비밀번호를 입력해주세요">
            <input type="password" name="confirm" id="user-confirm" placeholder="비밀번호를 다시 입력해주세요">

            <input type="submit" id="submit" value="로그인">

            <div class="text-box">
                <a href="{% url 'login' %}">로그인으로 돌아가기</a>
            </div>
        </form>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>