.content{
    width:80%;
    height:calc(100% - 130px);
    padding-top:30px;

    margin:auto;
}

.content > .img-box{
    width:100%;
    height:50px;

    display: flex;
    align-items: center;
}

.content > .img-box > img{
    width:30px;
}

.content > .text-box{
    width:100%;
    height:50px;

    display: flex;
    align-items: center;

    font-family: 'SUIT';
    font-weight:800;
    font-size:22px;
    color:#1F1B1B;
}

.content > .data-box{
    width:100%;
    height:calc(100% - 200px);

    display: flex;

    margin-top:50px;
}

.content > .data-box > .tag-box{
    width:30%;
    height:100%;

    border-right:1px solid #E1E1E1;
}

.content > .data-box > .category-box{
    width:calc(70% - 30px);
    height:100%;

    padding-left:30px;
}

.content > .data-box > div > p{
    font-family: 'SUIT';
    font-weight:600;
    font-size:20px;
    line-height:30px;
    color:#646464;
}

.content > .data-box > .tag-box > .list-box{
    width:100%;
    height:calc(100% - 50px);

    display: block;
}

.content > .data-box > .tag-box > .list-box > .list{
    width:auto;
    height:auto;

    display: inline-block;

    font-size:14px;
    font-family: 'SUIT';
    font-weight:600;
    color:#fff;

    margin-top:10px;

    padding-left:17px;
    padding-right:17px;
    padding-top:6px;
    padding-bottom:6px;

    border-radius: 50px;
}

.content > .data-box > .category-box > .input-box{
    width:70%;
    height:50px;

    display: flex;
    align-items: center;

    border:1px solid #9A9A9A;
    border-radius: 15px;
    
    background-color:#FAFAFA;

    margin-top:20px;
}

.content > .data-box > .category-box > .input-box > img{
    width:20px;
    margin-left:15px;
    margin-right:15px;
}

.content > .data-box > .category-box > .input-box > input{
    width:calc(100% - 50px);
    height:calc(100% - 2px);


    background-color:#FAFAFA;

    font-size:16px;
    font-family: 'SUIT';
    font-weight: 500;

    border:none;
    border-radius: 15px;
    outline:none;
}

.content > .data-box > .category-box > .list-box{
    width:70%;
    height:calc(100% - 140px);

    overflow-y: auto;
}

.content > .data-box > .category-box > .list-box > .list{
    width:calc(100% - 20px);
    height:50px;

    margin-top:20px;

    padding-left:20px;

    background-color:#FAFAFA;
    border-radius: 10px;

    display: flex;
    align-items: center;

    color:#787878;
    font-size:16px;
    font-family: 'SUIT';
    font-weight:500;

    cursor:pointer;
}

.color1{
    background-color: #826D6D;
}

.color2{
    background-color: #2CACB4;
}

.color3{
    background-color: #B75E7E;
}

.color4{
    background-color: #5E67B7;
}

.color5{
    background-color: #A57F53;
}

.color6{
    background-color: #5379A5;
}