.content{
    width:80%;
    height:calc(100% - 150px);

    margin:auto;

    padding-top:50px;
}

.content > form{
    width:100%;
    height:100%;
}

.content > form > h2{
    text-align: center;

    font-family: ‘SUIT’;
    font-weight:800;
    font-size:36px;
    color:#1F1B1B;


    margin-bottom:50px;
}

.content > form > input[type=text], .content > form > input[type=password]{
    width:480px;
    height:40px;

    display: block;
    
    margin:auto;
    margin-top:30px;

    padding-left:20px;

    font-size:16px;

    border:1px solid #9A9A9A;
    border-radius:5px;
}

.content > form > input[type=submit]{
    width:504px;
    height:50px;

    display: block;

    margin:auto;
    margin-top:50px;

    border:none;
    border-radius:5px;

    background-color: #42C1C1;

    font-size:18px;
    color:#fff;
}

.content > form > input[type=submit]:hover{
    width:500px;

    color:#42C1C1;

    border:2px solid #42C1C1;

    background-color:#fff;
}

.content > form > .text-box{
    width:504px;
    height:40px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin:auto;
}

.content > form > .text-box > a{
    text-decoration: none;
    font-family: 'SUIT';
    font-weight:600;


    color:#1F1B1B;
}