body{
    overflow-y: auto;
}

.content{
    width:60%;
    height:auto;

    margin:auto;
    padding-bottom:200px;
}

.content > .icon-box{
    width:100%;
    height:60px;

    display: flex;
    align-items: center;

    margin-top:30px;
}

.content > .text-box{
    width:100%;
    height:70px;

    display: flex;
    align-items: center;

    color:#1F1B1B;
    font-family: "SUIT";
    font-weight:800;
    font-size:20px;
}

.content > .image-box{
    width:100%;
    height:auto;

    border-radius: 5px;
}

.content > .image-box > img{
    width:100%;

    border-radius:5px;
}

.content > .ingredient-box{
    width: 100%;
    height:auto;
}

.content > .ingredient-box > h2{
    color:#646464;
    font-size:18px;
    line-height:50px;
    font-family: 'SUIT';
    font-weight:600;
}

.content > .ingredient-box > .list{
    width:calc(100% - 40px);
    height:50px;

    padding-left:20px;
    padding-right:20px;

    margin-top:15px;

    background-color: rgb(245,245,245);
    
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color:#787878;
    font-family: 'SUIT';
    font-weight:600;
}

.content > .recipe-box{
    width:100%;
    height:auto;
    margin-top:30px;
}

.content > .recipe-box > h2{
    color:#646464;
    font-size:18px;
    line-height:50px;
    font-family: 'SUIT';
    font-weight:600;
}

.content > .recipe-box > .list{
    width:100%;
    height:300px;

    display: flex;
    justify-content: space-between;

    margin-top:30px;
}

.content > .recipe-box > .list > .text{
    width:calc(50% - 60px);
    height:calc(100% - 40px);

    padding:20px;

    border-radius: 5px;

    background-color: rgb(245,245,245);
}


.content > .recipe-box > .list > .text > h2{
    color:rgba(36, 36, 36, 1);
    font-family: 'SUIT';
    font-weight:600;
}

.content > .recipe-box > .list > .text > ul > li{
    color:rgba(156, 156, 156, 1);
    font-family: 'SUIT';
    font-weight:600;
    font-size:16px;

    margin-top:5px;
}


.content > .recipe-box > .list > .text > ul li::before{
    color:rgba(156, 156, 156, 1);
}

.content > .recipe-box > .list > .image{
    width:50%;
    height:100%;

}

.content > .recipe-box > .list > .image > img{
    width:100%;
    height:100%;
}

.content > .comment-box{
    width:100%;
    height:auto;
}

.content > .comment-box > h2{
    color:#646464;
    font-size:18px;
    line-height:50px;
    font-family: 'SUIT';
    font-weight:600;
}

.content > .comment-box > .comment{
    width:100%;
    height:50px;

    border-top:1px solid rgb(230,230,230);
}