{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="align-box">
      <img class="logo" src="{% static 'image/Logo.svg' %}" alt="logo">
      <hr/>
    </div>
  </header>
  <main class="content">
    <div class="align-box">
      <img class="kitchen" src="{% static 'image/kitchen.svg' %}" alt="kitchen">
      <h3 class="sub-title">등록된 식재료</h3>
    </div>
    <ul class="food-list">
        {% for a in user %}
          <li>
            <div class="food-name">{{ a.foodname }}</div>
            <div class="day gray">
            <p>{{ a.date }}</p>
            </div>
          </li>      
        {% endfor %}
    </ul>
  </main>
  <script src="{% static 'js/list.js' %}"></script>
</body>
</html>