{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한끼슥싹</title>

    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'image/Logo.svg' %}"/>
    </div>

    <div class="content">
        <div class="icon-box">
            <img src="{% static 'image/restaurant.svg' %}"/>
        </div>

        <div class="text-box">
            <h2>매력적인 맛의 갈릭치킨</h2>
        </div>

        <div class="image-box">
            <img src="{% static 'image/recipeThumbnails.png' %}"/>
        </div>

        <div class="ingredient-box">
            <h2>재료</h2>
            <div class="list">
                <p>닭봉</p>
                <p>350g</p>
            </div>

            <div class="list">
                <p>닭봉</p>
                <p>350g</p>
            </div>

            <div class="list">
                <p>닭봉</p>
                <p>350g</p>
            </div>

            <div class="list">
                <p>닭봉</p>
                <p>350g</p>
            </div>

            <div class="list">
                <p>닭봉</p>
                <p>350g</p>
            </div>
        </div>

        <div class="recipe-box">
            <h2>조리 순서</h2>

            <div class="list">
                <div class="text">
                    <h2>1. 재료 준비하기</h2>
                    <ul>
                        <li>아 인터넷 ㄹㅇ 쓰레기같네</li>
                        <li>아 인터넷 ㄹㅇ 쓰레기같네</li>
                    </ul>
                </div>
                <div class="image">
                    <img src="{% static image/recipeThumbnail2.png' %}"/>
                </div>
            </div>

            <div class="list">
                <div class="text">
                    <h2>1. 재료 준비하기</h2>
                    <ul>
                        <li>아 인터넷 ㄹㅇ 쓰레기같네</li>
                        <li>아 인터넷 ㄹㅇ 쓰레기같네</li>
                    </ul>
                </div>
                <div class="image">
                    <img src="{% static 'image/recipeThumbnail2.png' %}"/>
                </div>
            </div>

            <div class="list">
                <div class="text">
                    <h2>1. 재료 준비하기</h2>
                    <ul>
                        <li>아 인터넷 ㄹㅇ 쓰레기같네</li>
                        <li>아 인터넷 ㄹㅇ 쓰레기같네</li>
                    </ul>
                </div>
                <div class="image">
                    <img src="{% static 'image/recipeThumbnail2.png' %}"/>
                </div>
            </div>

            <div class="list">
                <div class="text">
                    <h2>1. 재료 준비하기</h2>
                    <ul>
                        <li>아 인터넷 ㄹㅇ 쓰레기같네</li>
                        <li>아 인터넷 ㄹㅇ 쓰레기같네</li>
                    </ul>
                </div>
                <div class="image">
                    <img src="{% static 'image/recipeThumbnail2.png' %}"/>
                </div>
            </div>
        </div>

        <div class="comment-box">
            <h2>댓글</h2>

            <div class="comment">
                <h2>이장훈</h2>
                
            </div>
            
            <div class="comment-add">

            </div>
        </div>
    </div>
</body>
</html>