<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한끼슥싹</title>

    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">

    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="header">
        <img src="./image/Logo.svg"/>
    </div>

    <div class="content">
        <form class="login-box">

            <h2>회원 정보를 입력해주세요</h2>
            <input type="text" id="user-name" placeholder="이름을 입력해주세요">
            <input type="text" id="user-id" placeholder="아이디를 입력해주세요">
            <input type="password" id="user-password" placeholder="비밀번호를 입력해주세요">
            

            <input type="button" id="submit" value="로그인">

            <div class="text-box">
                <a href="./login.html">로그인으로 돌아가기</a>
            </div>
        </form>
    </div>

    <script src="./js/register.js"></script>
</body>
</html>